// ======= colors =========
$primaryColor: #E55473;
$headingColor: #272727;
$peraColor: rgba(39, 39, 39, 0.60);
$bg-1: rgba(229, 84, 115, 0.10);
$bg-2: rgba(229, 84, 115, 0.05);
$bg-3: rgba(39, 39, 39, 0.05);
$footerBG: #111010;
$white: #fff;

// ====== font size =======
$mainHeadingFS: 80px;
$peraFS: 18px;
$sectionHeadFS: 40px;
$peraLH: 30px;
$btn_FS: 20px;
// ==== padding ========
$btnPadding: 20px 43px;
$mainPadding: 176px;
$sectionPaddingTop: 128px;
$commonPadding: 32px;
$sectionHeadPad: 24px; // ======= align ======
$center: center;
$marginAuto: 0 auto;
$peraWidth: 594px;